body,html {
    padding: 0;
    margin: 0;
}
main {
    padding-top: 40px;
    padding-bottom: 90px !important;
}
.description_wrapper{
    width: 400px;
    margin-left: 40px;
}
@media screen and (max-width: 768px) {
    .description_wrapper{
        margin: 0;
    }
}