﻿* {
margin: 2px;
padding: 4px;
box-sizing: border-box;
}

body {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: 0
}

.logreg {
font-size: 10px;
margin-top: 25px;
margin-left: 100px;
}

.login {
width: 393px;
height: min-content;
padding: 30px;
border-radius: 12px;
}

.login p {
    font-size: 10px;
    margin-block-end: 10px;
}

.login a {
    font-size: 10px;
    margin-left: 250px;
}

.login form {
    font-size: 12px;
}

    .login form .form-group {
        margin-bottom: 5px
    }

    .login form button[id="loginbtn"] {
        font-size: 11px;
        margin-top: 5px;
        margin-right: 15px;
    }
