﻿* {
margin: 2px;
padding: 4px;
box-sizing: border-box;
}

body {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: 0
}

.reg {
font-size: 10px;
margin-top: 25px;
margin-left: 100px;
}

.register {
width: 393px;
height: min-content;
padding: 30px;
border-radius: 12px;
}

.register h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.register form {
    font-size: 12px;
}

    .register form .form-group {
        margin-bottom: 5px
    }

    .register form input[type="submit"] {
        font-size: 11px;
        margin-top: 5px;
        margin-right: 15px;
    }
