﻿* {
box-sizing: border-box;
}

body,
html {
font-size: 16px;
padding: 0;
margin: 0;
}

.reg {
font-size: 15px;
text-align: center;
margin-top: 30px;
color: #8795a4;
}
.reg a {
text-decoration: underline;
color: #0171ff;
}
.col {
width: 100%;
}
.row {
display: flex;
width: 100%;
}
.first-wrapper {
background: #0171ff;
padding: 0 30px;
font-size: 40px;
color: white;
width: 590px;
}
.row form {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
gap: 20px;
margin-top: 30px;
}
.row img {
width: 100%;
height: auto;
max-width: 100%;
}
.form-wrapper {
padding: 0 40px;
margin: 55px;
margin-right: 270px;
}
.form-wrapper h1 {
font-size: 30px;
color: #1d4063;
}
.form-wrapper p {
color: #8795a4;
}
.form-wrapper label {
color: #1d4063;
}
.form-wrapper input {
width: 100%;
height: 35px;
}
.btn {
padding: 10px 20px;
color: white;
background-color: #0171ff;
border: 0;
border-radius: 5px;
}
.btn:hover {
background-color: rgb(40, 116, 216);
}

/* media queries */
@media screen and (max-width: 767px) {
.row {
display: block;
}
.form-wrapper {
padding: 0 40px;
margin: auto;
margin-right: auto;
}
.col {
height: auto;
}
.first-wrapper,
.form-wrapper {
padding: 40px 35px;
width: auto;
}
.first-wrapper h5 {
margin-top: auto;
}
}
@media screen and (max-width: 1024px) {
.form-wrapper {
margin: auto;
margin-right: auto;
}
}
@media screen and (max-width: 1355px) {
.form-wrapper {
margin-right: auto;
}
}
@media screen and (max-width: 1053px) {
.form-wrapper {
margin: auto;
}
}
@media screen and (max-width: 983px) {
.col {
height: auto;
}
}
@media screen and (min-width: 1611px) {
    .col{
        height: 100vh;
    }
}