@using EcommerceMVC.Data;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<EcommerceUser> signInManager
@inject UserManager<EcommerceUser> userManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-light" href="#">Hello @userManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Account" asp-controller="Identity" asp-action="LogOut">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" id="register" asp-area="Account" asp-controller="Identity" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" id="login" asp-area="Account" asp-controller="Identity" asp-action="Login">Login</a>
        </li>
    }
</ul>
