@model Ecommerce.Infrastructure.Data.DTO.LoginDTO;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/Account/_LoginLayout.cshtml";
}

<div class="login">
    <div class="text-center">
        <h1>Login</h1>
        <form asp-action="Account/Identity/Login" asp-route-returnurl="@Model.ReturnUrl" method="post" role="form">
            <div>
                <label asp-for="@Model.EmailAddress" class="control-label">Email Address</label>
                <input type="email" name="EmailAddress" class="form-control" placeholder="janedoe@exmaple.com" required>
            </div>
            <div>
                <label asp-for="@Model.Password" class="control-label">Password</label>
                <input type="Password" name="Password" class="form-control" required>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <div class="custom-checkbox">
                        <label asp-for="RememberMe">
                            <input type="checkbox" asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <button type="submit" class="btn btn-success w-100 bg-dark">Login</button>
            </div>
        </form>
    </div>
</div>