@model Ecommerce.Infrastructure.Data.DTO.LoginDTO;
@{
    ViewData["Title"] = "Login";
}

<div class="row login">
    <div class="col first-wrapper">
        <div>
            <h5>A few clicks away from logging into your account</h5>
        </div>
        <div>
            <img src="~/img/Login-amico.svg" alt="signup svg">
        </div>
    </div>
    <div class="col">
        <div class="form-wrapper">
            <div>
                <h1>Login</h1>
            </div>
            <form asp-area="Account" asp-controller="Identity" asp-action="Login" method="post" role="form">
                <div class="input_wrapper">
                    <label asp-for="EmailAddress" class="control-label">Email Address</label>
                    <input type="email" name="EmailAddress" class="form-control" placeholder="janedoe@exmaple.com"
                           required>
                </div>
                <div class="input_wrapper">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input type="Password" name="Password" class="form-control" required>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="RememberMe" class="form-label">
                            <input type="checkbox" class="form-check-input" class="form-check-input" asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group form-check">
                    <button type="submit" class="btn btn-success w-100 bg-dark">Login</button>
                </div>
            </form>
            <div>
                <div>
                    <div class="reg">
                        <span class=fs-14 fw-600 text-gray>Don’t have an account? <a asp-action="Register" asp-controller="Identity" class="border-bottom border-appprimary">Sign up here</a></span>
                    </div>
                    <p>
                        <a id="forgot-password" asp-action="ForgotPassword" asp-controller="Identity" class="border-bottom border-appprimary" >Forgot your password?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
  
</div>


