@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/Account/_LoginLayout.cshtml";
}

<div class="login">
    <div class="text-center">
        <h1>Login</h1>
        <form asp-action="Account/Identity/Login" asp-route-returnurl="@Model.ReturnUrl" method="post" role="form" class="row g-3 needs-validation" novalidate>
            <div>
                <label for="EmailAddress" class="control-label">Email Address</label>
                <input type="email" id="EmailAddress" name="EmailAddress" asp-for="EmailAddress" class="form-control" placeholder="janedoe@exmaple.com" required>
                <div class="invalid-feedback">
                    Please provide a valid Email Address.
                </div>
            </div>
            <div>
                <label for="PassWord" class="control-label">Password</label>
                <input type="password" id="Password" name="Password" asp-for="Password" class="form-control" required>
                <div class="invalid-feedback">
                    Please provide a valid your Password.
                </div>
            </div>
            <div class="form-group form-check">
                <button type="submit" id="loginbtn" class="btn btn-success w-100 bg-dark">Login</button>
            </div>
        </form>
    </div>
</div>